* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 20px;
}

#info {
    margin: 1rem;
    font-size: 4rem;
}

#gameBoard {
    width: 900px;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.square {
    height: 300px;
    width: 300px;
    border: 1px solid;
    display: grid;
    place-content: center;
}

.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 15px solid blue;
}

.cross {
    height: 200px;
    width: 200px;
    position: relative;
    transform: rotate(45deg);
}

.cross:before, .cross:after {
    content: "";
    position: absolute; 
    background-color: red;
}
.cross::before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}
.cross::after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}